<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="io.cordova.zhqy">

    <uses-sdk android:targetSdkVersion="21" />
    <!--如果是安卓8.0，应用编译配置的targetSdkVersion>=26，请务必添加以下权限 -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <!-- Required -->
    <permission
        android:name="io.cordova.zhqy.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />

    <permission
        android:name="io.cordova.zhqy.permission.MIPUSH_RECEIVE" android:protectionLevel="signature"/>

    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="io.cordova.zhqy.permission.MIPUSH_RECEIVE"/>
    <uses-permission android:name="io.cordova.zhqy.permission.JPUSH_MESSAGE"/>
    <!-- 声明权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SET_DEBUG_APP" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.PERMISSION_GRANTED" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>
    <uses-permission android:name="android.permission.ACTI"/>
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />

  <!--  <uses-permission android:name="android.permission.RECEIVE_WAP_PUSH"/>-->

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <!--允许应用程序改变网络状态-->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS"/>
    <uses-permission android:name="android.permission.MEDIA_CONTENT_CONTROL"/>

    <!-- 设置华为角标的显示 -->
    <uses-permission android:name="com.huawei.android.launcher.permission.CHANGE_BADGE" />

    <!-- Optional -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- 用于开启 debug 版本的应用在6.0 系统上 层叠窗口权限 -->
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />



    <application
        android:name="io.cordova.zhqy.utils.MyApp"
        android:allowBackup="true"
        android:icon="@drawable/icon_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:roundIcon="@drawable/icon_logo"
        tools:replace="android:allowBackup,android:icon,android:roundIcon"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme"
        >
        <meta-data android:name="android.max_aspect" android:value="2.1" />

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="biLMnFSxIDcSO5tYOeZWapEPPs7x6fPt" >
        </meta-data>

        <service android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote">
        </service>

        <activity android:name=".activity.SplashActivity"
            android:theme="@style/SplashTheme"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>
       <!-- <activity android:name=".activity.SplashActivity"
            android:theme="@style/SplashTheme"
            android:screenOrientation="portrait"
            >
        </activity>


        <activity-alias
            android:name=".icon_tag"
            android:enabled="false"
            android:icon="@drawable/icon_logo"
            android:label="@string/app_name"
            android:targetActivity=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity-alias>

        <activity-alias
            android:name=".icon_tag_1212"
            android:enabled="true"
            android:icon="@mipmap/qylogo"
            android:label="@string/app_name"
            android:targetActivity=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity-alias>-->
        <activity
            android:name="io.cordova.zhqy.activity.LoginActivity"

            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="io.cordova.zhqy.activity.LoginActivity3"

            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="io.cordova.zhqy.activity.LoginActivity4"

            android:screenOrientation="portrait">
        </activity>

        <activity android:name="io.cordova.zhqy.Main2Activity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.DEFAULT" />

            </intent-filter>

        </activity>

        <activity android:name="io.cordova.zhqy.activity.MyDataActivity"
           android:screenOrientation="portrait"/>

        <activity android:name="io.cordova.zhqy.activity.MyCollectionActivity"
            android:screenOrientation="portrait"/>

        <activity android:name="io.cordova.zhqy.activity.MyToDoMsgActivity"
            android:screenOrientation="portrait"/>

        <activity android:name="io.cordova.zhqy.activity.MyDataChangesActivity"
            android:screenOrientation="portrait"/>

        <activity android:name="io.cordova.zhqy.activity.AppSearchActivity"
            android:screenOrientation="portrait"/>

        <activity android:name="io.cordova.zhqy.activity.QRScanActivity"
            android:screenOrientation="portrait"/>

        <activity android:name="io.cordova.zhqy.activity.AppSetting"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:screenOrientation="portrait">

        </activity>

        <activity android:name="io.cordova.zhqy.activity.InfoDetailsActivity"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:screenOrientation="portrait"/>

        <activity android:name="io.cordova.zhqy.activity.OaMsgActivity"
            android:screenOrientation="portrait"/>

        <activity android:name="io.cordova.zhqy.activity.SystemMsgActivity"
            android:screenOrientation="portrait"/>

        <activity android:name="io.cordova.zhqy.activity.VersionMsgActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="io.cordova.zhqy.activity.MyShenqingActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="io.cordova.zhqy.activity.LoginActivity2"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            />
        <activity android:name=".web.BaseWebActivity4"
            android:screenOrientation="portrait"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:exported="false"
            >

            <intent-filter>
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.FindPwdActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.FindPwdNextActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.FindPwdCompleteActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.UpdatePwdInfoActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".web.CodeWebActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.ShengWuActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.CodeBindActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.FaceActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.UpdateFaceActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.FaceNewActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".web.ChangeUpdatePwdWebActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            />

        <activity android:name=".activity.newToDo.NewMyToDoMsgActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.newToDo.NewSystemMsgActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.newToDo.NewOaMsgActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.newToDo.NewMyShenqingActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.DeviceManagerActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".activity.CodeBind2Activity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".activity.FankuiWebActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".activity.InfoDetailsActivity2"
            android:screenOrientation="portrait"
            />
        <service android:name="io.cordova.zhqy.utils.MyIntentService" />


        <receiver
            android:name=".jpushutil.JPushReceiver"
            android:exported="false"
            android:enabled="true">
            <!--android:enabled="true"-->
            <!--android:permission="android.permission.SYSTEM_ALERT_WINDOW"-->
            <!--tools:ignore="ExportedReceiver"-->
            <intent-filter>
                <!--Required 用户注册SDK的intent-->
                <action android:name="cn.jpush.android.intent.REGISTRATION" />
                <!--Required 用户接收SDK消息的intent-->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />
                <!--Required 用户接收SDK通知栏信息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />
                <!--Required 用户打开自定义通知栏的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />
                <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <action android:name="cn.jpush.android.intent.CONNECTION" />
                <category android:name="io.cordova.zhqy" />
            </intent-filter>
        </receiver>
        <!--推送UpdateProvider组件-->
      <!--  <provider
            android:name="com.huawei.hms.update.provider.UpdateProvider"
            android:authorities="io.cordova.zhqy.hms.update.provider"
            android:exported="false"
            android:grantUriPermissions="true" >
        </provider>-->

        <!-- since 3.1.0 Required SDK 核心功能-->
        <provider
            android:authorities="io.cordova.zhqy.DownloadProvider"
            android:name="cn.jpush.android.service.DownloadProvider"
            android:exported="true"
            />

        <activity android:name=".activity.OpenClickActivity"
            android:theme="@style/OpenClick"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:exported="true">

            <intent-filter>

                <action android:name="android.intent.action.VIEW"/>
                <action android:name="io.cordova.zhqy.activity.OpenClickActivity"/>
                <category android:name="android.intent.category.DEFAULT"/>

            </intent-filter>

        </activity>

        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="tencent100424468" />
            </intent-filter>
        </activity>
        <activity
            tools:replace="android:configChanges"
            android:name="com.tencent.connect.common.AssistActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity android:name=".activity.FaceYiQingActivity" />
        <activity android:name=".activity.FaceServiceActivity" />
        <activity android:name=".activity.FaceMeActivity" />
        <activity android:name=".activity.FaceColletActivity" />
        <activity android:name=".activity.FaceMeColletActivity" />
        <activity android:name=".activity.FaceSearchActivity" />
        <activity android:name=".activity.NoticeManagerActivity" />
        <activity android:name=".web.BaseWebCloseActivity"
            android:screenOrientation="portrait"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:exported="false"
            >
            <intent-filter>
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.CAResultActivity" />
        <activity android:name=".zixing.activity.CaptureActivity"
            android:theme="@style/SplashTheme"
            />
        <activity android:name=".web.HelpActivity" />
        <activity android:name=".activity.ManagerCertificateOneActivity" />
        <activity android:name=".activity.ShowPDFActivity" />

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5cf7337d4ca357695c000e67" >
        </meta-data>

        <!-- Required -->
        <meta-data android:name="JPUSH_APPKEY" android:value="4d6db4a813a03158396e5061"/>
        <meta-data android:name="JPUSH_CHANNEL" android:value="developer-default"/>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="io.cordova.zhqy.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/paths" />
        </provider>


        <service android:name=".jpushutil.PushService"
            android:enabled="true"
            android:exported="false"
            android:process=":pushcore">
            <intent-filter>
                <action android:name="cn.jiguang.user.service.action" />
            </intent-filter>
        </service>

        <receiver
            android:name=".jpushutil.MyJPushMessageReceiver"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="cn.jpush.android.intent.RECEIVE_MESSAGE" />
                <category android:name="io.cordova.zhqy" />
            </intent-filter>
        </receiver>

        <provider
            android:authorities="io.cordova.zhqy.DataProvider"
            android:name="cn.jpush.android.service.DataProvider"
            android:process=":pushcore"
            android:exported="false"
            />

        <!-- Required SDK 核心功能-->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true" >
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />
                <category android:name="io.cordova.zhqy"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <receiver android:name="cn.jpush.android.service.AlarmReceiver" />

        <!--Required SDK核心功能 since 3.3.0-->
        <activity
            android:name="cn.jpush.android.service.JNotifyActivity"
            android:exported="true"
            android:taskAffinity="jpush.custom"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.JNotifyActivity" />
                <category android:name="io.cordova.zhqy" />
            </intent-filter>
        </activity>
        <activity android:name=".web.BaseLoadActivity" />
        <activity android:name=".activity.CertificateActivateActivity" />
        <activity android:name=".activity.CertificateActivateNextActivity" />


        <receiver
            android:name=".jpushutil.GeTuiNotificationClickReceiver"
            android:enabled="true"
            android:exported="false"/>

        <activity
            android:name="cn.org.bjca.signet.coss.component.core.activity.SignetCossApiActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent">
        </activity>

        <activity android:name="cn.org.bjca.signet.component.qr.activity.QRScanActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"> </activity>
        <activity android:name=".activity.DialogActivity" />
    </application>

</manifest>